<h1>Naomi/The Smiths</h1>

<%= image_tag("IMG_0712.JPG", ) %>
<%= image_tag("IMG_0713.JPG", ) %>
<%= image_tag("IMG_0714.JPG", ) %>

<%= image_tag("IMG_0716.JPG", ) %>
<%= image_tag("IMG_3581.JPEG", ) %>
<%= image_tag("IMG_3584.JPEG", ) %>
<%= image_tag("IMG_0715.JPG", ) %>

<%= image_tag("IMG_3355.JPEG", ) %>

<!-- gem 'sqlite3', '~> 1.4' -->